<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Typer - porównanie drużyn</title>
    <meta name="description" content="Typer służy do porównywania drużyn pod zakłady bukmacherskie.
    W jednym oknie wyniki drużyn, statystyki, bezpośrednie mecze h2h">

    <link rel="icon" type="image/png" sizes="48x48" th:href="@{/images/favicon.png}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <script defer src="../static/scripts/cookies.js" th:src="@{/scripts/cookies.js}"></script>
</head>

<body>

<header class="page-header">
    <a th:href="@{/}" class="title-link">
        <h2>⚽ Typer</h2>
    </a>
</header>

<div class="index-card">
    <h1>Porównanie drużyn</h1>

    <form th:action="@{/porownanie-druzyn}" method="get" onsubmit="return submitCompare()">
        <input type="hidden" name="teamIds" id="teamsIds">

        <div class="team-row">
            <input type="text" id="teamSearch" placeholder="Wpisz nazwę druzyny..." autocomplete="off">
        </div>
        <div id="suggestions" style="border: 1px solid #ccc; max-height: 150px; overflow-y: auto;">
        </div>

        <table id="teamTable" class="index-table">
            <thead>
            <tr>
                <th>Nazwa drużyny</th>
                <th>Skrócona nazwa</th>
<!--                <th>Symbol</th>-->
                <th>Logo</th>
                <th>Usuń</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <button type="submit" class="comparison-team-button">Pokaż porównanie</button>
    </form>
</div>

<div class="index-card">
    <h1>Statystyki drużyny</h1>

    <form th:action="@{/druzyny/staty}" method="get" onsubmit="return submitStats()">
        <input type="hidden" name="teamStatsId" id="teamStatsId">

        <div class="team-row">
            <input type="text" id="teamStatsSearch" placeholder="Wpisz nazwę druzyny..." autocomplete="off">
        </div>
        <div id="suggestion" style="border: 1px solid #ccc; max-height: 150px; overflow-y: auto;">
        </div>

        <table id="teamStatsTable" class="index-table">
            <thead>
            <tr>
                <th>Nazwa drużyny</th>
                <th>Skrócona nazwa</th>
<!--                <th>Symbol</th>-->
                <th>Logo</th>
                <th>Usuń</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <button type="submit" class="comparison-team-button">Pokaż statystyki</button>
    </form>
</div>

<div class="index-card">
    <h1>Tabele rozgrywek</h1>

    <form action="#" th:action="@{/tabele}">
        <select name="competitionId" required class="select-competition">
            <option value="" hidden>Wybierz ligę</option>
            <option th:each="competition : ${competitions}" th:value="${competition.id}"
                    th:text="|${competition.code} - ${competition.workingName ?: competition.name}|"></option>
        </select>
        <button type="submit" class="comparison-team-button">Pokaż tabele</button>
    </form>
</div>

<!-- Cookie banner -->
<div id="cookie-banner" class="cookie-banner">
    <div class="cookie-content">
        <div class="cookie-text">
            <strong>🍪 Prywatność i cookies</strong>
            <p>
                Typer korzysta z Google Analytics, aby analizować sposób korzystania
                z serwisu i ulepszać jego działanie.
                Więcej informacji znajdziesz w
                <a th:href="@{/polityka-prywatnosci}">
                    Polityce prywatności
                </a>.
            </p>
        </div>

        <div class="cookie-buttons">
            <button id="cookie-accept" class="cookie-btn cookie-accept">
                Akceptuję
            </button>

            <button id="cookie-reject" class="cookie-btn cookie-reject">
                Odrzucam
            </button>
        </div>
    </div>
</div>

</body>
</html>